{{define "title"}}Dash{{ end }}

{{define "page"}}
{{template "online" .}}
{{template "music"}}
{{template "map"}}
{{ end }}

{{define "script"}}
<script src="/static/js/htmx.min.js" defer></script>
<script src="/static/js/htmx.ws.js" defer></script>
{{end}}