{{define "title"}}Log in{{end}}

{{define "page"}}
<form action="/user/signup" method="POST" id="signup-form">
    <div class="form-field">
        <label for="gamertag">Gamertag</label>
        <input type="text" id="gamertag" name="gamertag">
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <div class="form-field-inline">
        <input type="checkbox" id="java" name="java" value="true" checked="">
        <label for="java">Java?</label>
    </div>

    <button type="submit" id="signup-btn">Sign up</button>
</form>
{{end}}