@font-face {
    font-family: "Minecraft";
    src: url(MinecraftRegular-Bmg3.otf);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Minecraft";
    display: flex;
    flex-direction: column;
    background-color: #082f49;
    color: #a3e635;
}

header {
    width: 100%;
    position: relative;
}

#header-bar {
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px #84cc16;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#header-name {
    display: block;
    align-self: center;
    font-size: 1.6em;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: scroll;
}

#scroll-container {
    display: grid;
    gap: 20px;
}

#dropdown {
    position: absolute;
    width: 100%;
}

.blur {
    filter: blur(30px);
}

.menu-open {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    font-size: xx-large;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #84cc16;
}

/* The Online component */

.metric {
    display: flex;
    flex-direction: column;
    border: solid 1px #84cc16;
    border-radius: 10px;
}

.metric-title {
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom: solid 1px #84cc16;
}

#player-list {
    display: grid;
    gap: 20px;
    padding: 20px;
}

#player-list div:not(:first-child) {
    border-top: solid 1px #84cc16;
    padding-top: 20px;
}

#no-one {
    text-align: center;
    margin-inline: 15px;
    font-size: x-large;
}

/* The player info that goes into the Online component */

.online-player {
    display: grid;
    gap: 8px;
    text-align: center;
}

.online-player p {
    margin: 0;
}

#player-name {
    font-size: 1.5em;
}

/* The Live Map component */

a {
    color: inherit;
    text-decoration: none;
}

#map-metric {
    overflow-x: hidden;
}

#map {
    display: block;
    width: 100%;
    height: auto;
}