{{define "header"}}
<header>
  <div id="header-content">
    <a href="/"
      ><img
        src="./images/omen.webp"
        width="180"
        height="180"
        alt="Logo"
        id="logo"
    /></a>
    <p>Real Ones Only</p>
    <img
      src="./images/bars-solid.svg"
      alt="Menu button"
      height="16"
      width="14"
      id="menu"
    />
  </div>
</header>
{{ end }}
