{{define "map"}}
<div class="widget" id="map-widget">
  <div class="widget-title-box">
    <p class="widget-title">Live Map</p>
  </div>
  <a href="https://map.jwoods.dev" class="widget-content-box">
    <img
      src="/static/img/map-sizes/map-831.png"
      width="831"
      height="443"
      alt="Isowidget world map"
      id="map"
    />
  </a>
</div>
{{ end }}
