{{define "music"}}
<div class="widget music-widget">
  <div class="widget-title-box">
    <p class="widget-title">Music</p>
  </div>
  <div class="widget-content-box music-widget-content">
    {{if .IsAuthenticated}}
      <input type='hidden' id='csrf_token' name='csrf_token' value='{{.CSRFToken}}'>
      {{range .Discs}}
      <div id="{{.Namespace}}" class="disc">
        {{template "song" .}}
      </div>
      {{end}}
    {{else}}
    <div id="online-content">
      <p id="no-one">Log in to select music</p>
    </div>
    {{end}}
  </div>
</div>
{{ end }}
