{{define "music"}}
<div class="widget">
  <div class="widget-title-box">
    <p class="widget-title">Music</p>
    <p id="under-construction">
      Under construction
    </p>
  </div>
  <div class="widget-content-box">
    <img
      src="/static/img/cat-disc.png"
      id="music-disc"
      alt="Green music disc"
      width="100"
      height="100"
    />
  </div>
</div>
{{ end }}
