{{define "music"}}
<div class="widget">
  <div class="widget-title-box">
    <p class="widget-title">Music</p>
    <p
      style="
        color: #ffff55;
        font-size: 1.3em;
        text-align: center;
        margin-block: 2px;
      "
    >
      Under construction
    </p>
  </div>
  <div class="widget-content-box">
    <img
      src="images/cat-disc.png"
      id="music-disc"
      alt="Green music disc"
      width="100"
      height="100"
    />
  </div>
</div>
{{ end }}
