{{ define "nav"}}
<nav id="dropdown" class="dropdown-closed">
  <a href="#">Account</a>
  <a href="https://mc.jwoods.dev">Live Map</a>
  <form action="/user/logout" method="POST">
    <button type="submit" id="logout-btn">Log out</button>
  </form>
</nav>
{{ end }}
