{{define "online"}}
<div class="widget">
  <div class="widget-title-box">
    <p class="widget-title">Online</p>
  </div>
  <div class="widget-content-box">
    {{if .IsAuthenticated}}
    <div id="online-content" hx-ext="ws" ws-connect="/subscribe">
      <div id="ws-wrapper">
        <p id="no-one">Retrieving players...</p>
      </div>
    </div>
    {{else}}
    <div id="online-content">
      <p id="no-one">Log in to see players</p>
    </div>
    {{end}}
  </div>
</div>
{{end}}
