{{define "online"}}
<div class="widget">
  <div class="widget-title-box">
    <p class="widget-title">Online</p>
  </div>
  <div class="widget-content-box">
    <div id="online-content">
        {{template "player"}}
    </div>
  </div>
</div>
{{ end }}
