{{define "player"}}
<!-- <p id="no-one">No players online</p> -->
<div class="online-player">
  <div class="name-block">
    <div class="indicator-wrapper">
      <svg
        viewBox="0 0 200 200"
        width="10"
        height="10"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          fill="lime"
          cx="100"
          cy="100"
          r="100"
          shape-rendering="geometricPrecision"
        />
      </svg>
    </div>
    <p class="player-name">Brobrohibro</p>
  </div>
  <p class="location">Nether (420, -69, 8008)</p>
</div>
{{ end }}
