{{define "players"}}
{{ range.Players }}
<div class="online-player">
  <div class="name-block">
    <span class="light-wrapper">
      <span class="green-light"></span>
    </span>
    <p class="player-name"> {{.Name}}</p>
  </div>
  <p class="location">{{.Location}}</p>
</div>
{{ else }}
<p id="no-one">No players online</p>
{{ end }}
{{ end }}
